*{
    box-sizing: border-box;

}
body{
    margin: 0;
    padding: 0; 
}
.login-page{
    width: 100%;
    height: 100vh;
    background-color: aliceblue;

        }
       .login-page .login-form{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
         .login-page .login-form .login-title {}
          .login-page .login-form .password-inpput{}
           .login-page .login-form .rember-me{}
            .login-page .login-form .forget-link{}
             .login-page .login-form .submit-bouttom{}
